* {
	box-sizing: border-box;
}

a {
	color: skyblue;
	text-decoration: none;
}

body {
	background-color: #222;
	color: #ddd;
	font-family: sans-serif;
	margin: 0 auto;
	max-width: 1200px;
	padding: 2em 1em;
}

h1 {
	text-align: center;
}

#filterInput {
	background-color: #222;
	border: 1px solid white;
	color: #ddd;
	padding: 0.5em 0.75em;
	width: 100%;
}

#schemaTable {
	border-collapse: collapse;
	display: table;
	width: 100%;
}

#schemaTable > li:first-child > span {
	font-weight: bold;
}

#schemaTable > li {
	display: table-row;
}

#schemaTable > li > span {
	border: 1px solid #ddd;
	display: table-cell;
	padding: 0.5em 0.75em;
}

/* #schemaTable > li > span:nth-child(1) { width: 15%; }
#schemaTable > li > span:nth-child(2) { width: 25%; }
#schemaTable > li > span:nth-child(3) { width: 15%; }
*/
